<!--
  ~ Copyright 2015 e-CODEX Project
  ~
  ~ Licensed under the EUPL, Version 1.1 or – as soon they
  ~ will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence");
  ~ You may not use this work except in compliance with the
  ~ Licence.
  ~ You may obtain a copy of the Licence at:
  ~ http://ec.europa.eu/idabc/eupl5
  ~ Unless required by applicable law or agreed to in
  ~ writing, software distributed under the Licence is
  ~ distributed on an "AS IS" basis,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied.
  ~ See the Licence for the specific language governing
  ~ permissions and limitations under the Licence.
  -->

<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <!-- Skip the security; the REST services exposed in the domibus-ext-services-api are protected by an interceptor -->
    <http pattern="/ext/**" security="none"/>

    <http auto-config="true" pattern="/services/**">
        <csrf disabled="true"/>
    </http>

    <http auto-config="false"
          use-expressions="true"
          entry-point-ref="http403ForbiddenEntryPoint"
          authentication-manager-ref="authenticationManagerForAdminConsole">

        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/rest/security/authentication" access="permitAll"/>
        <intercept-url pattern="/rest/application/info" access="permitAll"/>
        <intercept-url pattern="/rest/pmode/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/rest/truststore/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/rest/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>

        <!-- Enable CSRF protection -->
        <csrf request-matcher-ref="csrfURLMatcher" token-repository-ref="tokenRepository"/>

        <headers>
            <frame-options policy="DENY"/>
            <content-type-options/>
            <xss-protection enabled="true"/>
        </headers>
    </http>

    <beans:bean id="tokenRepository" class="org.springframework.security.web.csrf.CookieCsrfTokenRepository">
        <beans:property name="cookieHttpOnly" value="false"/>
    </beans:bean>
    <beans:bean id="csrfURLMatcher" class="eu.domibus.web.matcher.URLCsrfMatcher">
        <beans:property name="ignoreUrl" value="/rest/security/authentication"/>
    </beans:bean>

    <beans:bean id="http403ForbiddenEntryPoint"
                class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>
</beans:beans>