<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 e-CODEX Project
  ~
  ~ Licensed under the EUPL, Version 1.1 or – as soon they
  ~ will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence");
  ~ You may not use this work except in compliance with the
  ~ Licence.
  ~ You may obtain a copy of the Licence at:
  ~ http://ec.europa.eu/idabc/eupl5
  ~ Unless required by applicable law or agreed to in
  ~ writing, software distributed under the Licence is
  ~ distributed on an "AS IS" basis,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied.
  ~ See the Licence for the specific language governing
  ~ permissions and limitations under the Licence.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <import resource="classpath*:config/*-jms-context.xml"/>
    <import resource="classpath*:config/*-taskexecutor-context.xml"/>

    <import resource="file:///${domibus.config.location}/domibus-plugins.xml"/>
    <import resource="msh-config.xml"/>
    <import resource="cxf-endpoint.xml"/>
    <import resource="spring-security.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="eu.domibus"/>
    <context:property-placeholder properties-ref="domibusProperties" ignore-resource-not-found="false"/>

    <cache:annotation-driven/>

    <!-- Security Policy caching -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"/>
    </bean>
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="file:///${domibus.config.location}/internal/ehcache.xml"/>
    </bean>

    <!-- JAXB Context for mapping of ebMS3 schema -->
    <bean id="jaxbContextEBMS" class="javax.xml.bind.JAXBContext" factory-method="newInstance">
        <constructor-arg type="java.lang.String" value="eu.domibus.ebms3.common.model"/>
        <!--value="eu.domibus.common.model.org.oasis_open.docs.ebxml_bp.ebbp_signals_2_0:eu.domibus.common.model.org.oasis_open.docs.ebxml_msg.ebms.v3_0.ns.core._200704:eu.domibus.common.model.org.w3._2003._05.soap_envelope:eu.domibus.common.model.org.w3._2005._05.xmlmime:eu.domibus.common.model.org.xmlsoap.schemas.soap.envelope"/>-->
    </bean>

    <!-- JAXB context for mapping of pMode XML configuration -->
    <bean id="jaxbContextConfig" class="javax.xml.bind.JAXBContext" factory-method="newInstance">
        <constructor-arg type="java.lang.String"
                         value="eu.domibus.common.model.configuration"/>
    </bean>

    <bean id="documentBuilderFactory" class="javax.xml.parsers.DocumentBuilderFactory" factory-method="newInstance"
          scope="prototype"/>

    <bean id="transformerFactory" class="javax.xml.transform.TransformerFactory" factory-method="newInstance"/>

    <!-- Factory for creating requests and responses-->
    <bean id="messageFactory" class="${messageFactoryClass}"/>

    <!-- datetimeformat to be used inside the ebXML message -->
    <bean id="xmlDateTimeFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"/>
    </bean>
    <bean id="dateFormatter" class="eu.domibus.ebms3.common.model.TimestampDateFormatter"/>

</beans>