<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true" pattern="/services/**">
    </http>

    <http auto-config="false"
          use-expressions="true"
          entry-point-ref="http403ForbiddenEntryPoint"
          authentication-manager-ref="authenticationManagerForAdminConsole">

        <intercept-url pattern="/rest/security/authentication" access="permitAll" />
        <!--<intercept-url pattern="/rest/security/logout" access="permitAll" />-->
        <intercept-url pattern="/rest/application/info" access="permitAll" />
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/rest/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />

        <!-- Enable CSRF protection -->
        <csrf request-matcher-ref="csrfURLMatcher" token-repository-ref="tokenRepository"/>

        <headers>
            <frame-options policy="DENY" />
            <content-type-options />
            <xss-protection enabled="true" />
        </headers>
    </http>

    <beans:bean id="tokenRepository" class="org.springframework.security.web.csrf.CookieCsrfTokenRepository">
        <beans:property name="cookieHttpOnly" value="false"/>
    </beans:bean>
    <beans:bean id="csrfURLMatcher" class="eu.domibus.web.matcher.URLCsrfMatcher">
        <beans:property name="ignoreUrl" value="/rest/authenticate"/>
    </beans:bean>

    <beans:bean id="http403ForbiddenEntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>
</beans:beans>