<div id="page" class="not-authorized-page">
  <div id="formContainer">
    <table cellspacing="30" cellpadding="10" width="100%">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          You don't have the privileges to access this page. <br><br>
          Please contact <a href="mailto:{{supportTeamInfoEmail}}" target="_blank"> {{supportTeamInfoName}} </a> .
          <br><br>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    <footer></footer>
  </div>
</div>

