<settings>
	<proxies>
		<!--<proxy>-->
			<!--<id>httpProxy</id>-->
			<!--<active>true</active>-->
			<!--<protocol>http</protocol>-->
			<!--<host>158.169.9.13</host>-->
			<!--<port>8012</port>-->
			<!--<username>j50b107</username>-->
			<!--<password>{VtY9+xpYtF0HPwkX8WuewigB168oiHNqHaZo7DHI1y4=}</password>-->
			<!--<nonProxyHosts>*localhost*|*.ec.europa.eu</nonProxyHosts>-->
		<!--</proxy>-->
		<!--<proxy>-->
			<!--<id>httpsProxy</id>-->
			<!--<active>true</active>-->
			<!--<protocol>https</protocol>-->
			<!--<host>158.169.9.13</host>-->
			<!--<port>8012</port>-->
			<!--<username>j50b107</username>-->
			<!--<password>{VtY9+xpYtF0HPwkX8WuewigB168oiHNqHaZo7DHI1y4=}</password>-->
			<!--<nonProxyHosts>*localhost*|*.ec.europa.eu</nonProxyHosts>-->
		<!--</proxy>-->
	</proxies>
	<mirrors>
		<!-- mirror
         | Specifies a repository mirror site to use instead of a given repository. The repository that
         | this mirror serves has an ID that matches the mirrorOf element of this mirror. IDs are used
         | for inheritance and direct lookup purposes, and must be unique across the set of mirrors.
         |
        <mirror>
          <id>mirrorId</id>
          <mirrorOf>repositoryId</mirrorOf>
          <name>Human Readable Name for this Mirror.</name>
          <url>http://my.repository.com/repo/path</url>
        </mirror>
         -->
	</mirrors>
	<servers>
		<server>
			<id>webgate-releases</id>
			<username>feriaad</username>
			<password>{0Dch8DXGG8wHq9jf+cOEcRVf67N6jAj7BkWAxlqNvUk=}</password>
		</server>
		<server>
			<id>webgate-digit-third-party</id>
			<username>feriaad</username>
			<password>{0Dch8DXGG8wHq9jf+cOEcRVf67N6jAj7BkWAxlqNvUk=}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>digit</id>
			<repositories>
				<repository>
					<id>webgate-releases</id>
					<url>https://webgate.ec.europa.eu/CITnet/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>webgate-digit-third-party</id>
					<url>https://webgate.ec.europa.eu/CITnet/nexus/content/repositories/thirdparty</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>webgate-digit-third-party</id>
					<url>https://webgate.ec.europa.eu/CITnet/nexus/content/repositories/thirdparty</url>
				</pluginRepository>
				<pluginRepository>
					<id>webgate-releases</id>
					<url>https://webgate.ec.europa.eu/CITnet/nexus/content/groups/public</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<!-- activeProfiles
     | List of profiles that are active for all builds.
     |
      -->
	<activeProfiles>
		<activeProfile>digit</activeProfile>
	</activeProfiles>
</settings>