 <h1 md-dialog-title>You are using the default password for this user. We strongly recommend you to change it using the
    user console.
  </h1>
  <div class="divTable">
    <div class="divTableBody">

      <div class="divTableRow">
        <div class="divTableCell">
          <button md-raised-button color="primary" (click)="dialogRef.close('ok')" id="defaultpassbutton_id">
            <md-icon>check_circle</md-icon>
            <span>OK</span>
          </button>
        </div>
      </div>
    </div>
  </div>

