<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="com.mysql">

    <resources>
        <!-- Eg:mysql-connector-java-5.1.38-bin.jar -->
        <resource-root path="PUT THE NAME OF THE MYSQL DRIVER"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>       
    </dependencies>
</module>
