<div style="width: 700px">
  <p class="domibusTextSmall" style="margin:0;font-weight: bold">{{formTitle}}</p>
  <form [formGroup]="userForm" (submit)="submitForm()">
    <md-card>

      <div style="margin-top:15px;">
        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="Username" name="username" id="username_id" [(ngModel)]="user.username" [formControl]="userForm.controls['userName']" maxlength="255" required>
          <div *ngIf="userForm.controls['userName'].hasError('required')" style="color:red; font-size: 70%">You should type an username</div>
        </md-input-container>
      </div>

      <div style="margin-top:15px;">
        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="originalUser" name="originalUser" id="originalUser_id" [(ngModel)]="user.originalUser" [formControl]="userForm.controls['originalUser']" maxlength="255" required>
          <div *ngIf="userForm.controls['originalUser'].hasError('required')" style="color:red; font-size: 70%">You should type an originalUser</div>
        </md-input-container>
      </div>

      <div style="margin-top:10px;">
        <md2-select mdInput placeholder="Role" [style.width]="'100%'" [formControl]="userForm.controls['role']" [(ngModel)]="user.authRoles" required>
          <md2-option *ngFor="let item of existingRoles" [value]="item">{{item}}</md2-option>
        </md2-select>
        <div *ngIf="userForm.controls['role'].hasError('required')" style="color:red; font-size: 70%">You need to choose at least one role for this user</div>
      </div>

      <div style="margin-top:15px;">
        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="Password" name="password" id="password_id" type="password" [(ngModel)]="user.password" [formControl]="userForm.controls['password']"
                 [pattern]=passwordPattern [required]="!editMode" >
          <div *ngIf="!editMode && userForm.controls['password'].hasError('required')" style="color:red; font-size: 70%">You should type a password</div>
          <div *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].hasError('pattern')" style="color:red; font-size: 70%">
            Password should follow all of these rules:<br>
            - Minimum length: 8 characters<br>
            - Maximum length: 32 characters<br>
            - At least one letter in lowercase<br>
            - At least one letter in uppercase<br>
            - At least one digit<br>
            - At least one special character
          </div>
        </md-input-container>
      </div>

      <div>
        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="Confirmation" name="confirmation" id="confirmation_id" type="password" [(ngModel)]="confirmation" [formControl]="userForm.controls['confirmation']" [required]="!editMode" >
          <div *ngIf="!editMode && userForm.controls['confirmation'].hasError('required')" style="color:red; font-size: 70%">You should type a password</div>
          <div *ngIf="userForm.controls['confirmation'].hasError('confirmation')" style="color:red; font-size: 70%">Passwords do not match</div>
        </md-input-container>
      </div>

      <table class="buttonsRow">
        <tr>
          <td>
            <button md-raised-button color="primary" [md-dialog-close]="true" (click)="submitForm()" id="editbuttonok_id" [disabled]="!userForm.valid">
              <md-icon>check_circle</md-icon>
              <span>OK</span>
            </button>
            <button md-raised-button color="primary" id="editbuttoncancel_id" md-dialog-close>
              <md-icon>cancel</md-icon>
              <span>Cancel</span>
            </button>
          </td>
        </tr>
      </table>
      <div  style="text-align: right; font-size: 70%">* required fields</div>
    </md-card>
  </form>
</div>
