<md-dialog-content style="height:450px;width:750px">
  <md-card>
    <md-card-content>
      <div *ngIf="pageName === 'messagelog'">
        <app-messagelog-help></app-messagelog-help>
      </div>
      <div *ngIf="pageName === 'messagefilter'">
        <app-messagefilter-help></app-messagefilter-help>
      </div>
      <div *ngIf="pageName === 'errorlog'">
        <app-errorlog-help></app-errorlog-help>
      </div>
      <div *ngIf="pageName=== 'pmode'">
        <app-pmode-help></app-pmode-help>
      </div>
      <div *ngIf="pageName === 'jms'">
        <app-jms-help></app-jms-help>
      </div>
      <div *ngIf="pageName === 'truststore'">
        <app-truststore-help></app-truststore-help>
      </div>
      <div *ngIf="pageName === 'user'">
        <app-user-help></app-user-help>
      </div>

    </md-card-content>
  </md-card>
</md-dialog-content>

<md-dialog-actions>
  <button id="closebutton_id" md-raised-button color="primary" (click)="dialogRef.close({})"
          style="margin-top:10px">
    <md-icon>close</md-icon>
    <span>Close</span>
  </button>
</md-dialog-actions>
