<div id="columnPicker">

  <a class="domibusLink" href="#" *ngIf="!columnSelection" (click)="toggleColumnSelection()" id="columnslinkoff_id">Columns</a>
  <a class="domibusLink" href="#" *ngIf="columnSelection" (click)="toggleColumnSelection()" id="columnslinkon_id">Columns</a>


  <div *ngIf="columnSelection" style="margin-bottom: 10px;display:block;">
    <div *ngFor='let col of allColumns' style="display: inline-block;margin:5px;">
      <input
        type='checkbox'
        [id]="col.name"
        (click)='toggle(col)'
        [checked]='isChecked(col)'
      />
      <label [attr.for]="col.name">{{col.name}}</label>
    </div>
    <button md-raised-button color="primary" (click)="selectAllColumns()" id="all_button_id">
      <md-icon>check_box</md-icon>
      <span>All</span>
    </button>
    <button md-raised-button color="primary" (click)="selectNoColumns()" id="none_button_id">
      <md-icon>check_box_outline_blank</md-icon>
      <span>None</span>
    </button>
  </div>
</div>
