<h1 id="pmodeheader_id" style="margin: 0px;">Archive PMode: {{pMode.metadata.description}}</h1>
<div class="selectionCriteria" style="width:800px;">
  <md-card>
    <md-card-content>
      <div class="textarea">
            <textarea class="textarea" style="resize: none" [(ngModel)]="pMode.content" readonly="readonly"></textarea>
      </div>
      <table class="group-action-button" style="width: 100%; text-align: center;">
        <tr>
          <td>
            <button md-raised-button color="primary" (click)="ok()">
              <md-icon>check_circle</md-icon>
              <span>Ok</span>
            </button>
          </td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>
