<md-sidenav-container>
  <md-sidenav mode="side" opened="true" ngClass="{{menuClass}}">
    <!-- sidenav content -->
    <div id="topLogo">
      <!--<div>-->
        <img src="assets/images/Domibus_logo_icon.svg" [attr.height]="fullMenu ? '74px' : '40px'" [attr.width]="fullMenu ? '74px' : '40px'"/>
      <!--</div>-->
      <div id="topLogoText" *ngIf="fullMenu">
        <p class="domibusTextSmall ">Domibus
          <br class="domibusTextSmall"><b>Administration</b>
          <br class="domibusTextSmall"><b>Console</b>
        </p>
      </div>
    </div>

    <button md-raised-button class="sideNavButton" [routerLink]="['/']" id="messages_id">
      <md-icon md-tooltip="Messages" mdTooltipDisabled="{{fullMenu}}">message</md-icon>
      <span *ngIf="fullMenu">Messages</span>
    </button>
    <button md-raised-button class="sideNavButton" [routerLink]="['/messagefilter']" *ngIf="hasAdmin()"
            id="messagefilter_id">
      <md-icon md-tooltip="Message Filter" mdTooltipDisabled="{{fullMenu}}">filter_list</md-icon>
      <span *ngIf="fullMenu">Message Filter</span>
    </button>
    <button md-raised-button class="sideNavButton" [routerLink]="['/errorlog']" id="errorlog_id">
      <md-icon md-tooltip="Error Log" mdTooltipDisabled="{{fullMenu}}">sms_failed</md-icon>
      <span *ngIf="fullMenu">Error Log</span>
    </button>
    <button md-raised-button class="sideNavButton" [routerLink]="['/pmode']" *ngIf="hasAdmin()" id="pmode_id">
      <md-icon md-tooltip="PMode" mdTooltipDisabled="{{fullMenu}}">description</md-icon>
      <span *ngIf="fullMenu">PMode</span>
    </button>
    <button md-raised-button class="sideNavButton" [routerLink]="['/jms']" *ngIf="hasAdmin()" id="jmsmonitoring_id">
      <md-icon md-tooltip="JMS Monitoring" mdTooltipDisabled="{{fullMenu}}">computer</md-icon>
      <span *ngIf="fullMenu">JMS Monitoring</span>
    </button>
    <button md-raised-button class="sideNavButton" [routerLink]="['/truststore']" *ngIf="hasAdmin()" id="truststore_id">
      <md-icon md-tooltip="Truststore" mdTooltipDisabled="{{fullMenu}}">vpn_key</md-icon>
      <span *ngIf="fullMenu">Truststore</span>
    </button>
    <button md-raised-button class="sideNavButton" [routerLink]="['/user']" *ngIf="hasAdmin()" id="user_id">
      <md-icon md-tooltip="Users" mdTooltipDisabled="{{fullMenu}}">people</md-icon>
      <span *ngIf="fullMenu">Users</span>
    </button>

    <div
      style="position:fixed; width:100%; height:50px;bottom:0px;justify-content: center;text-align: left">
      <button *ngIf="fullMenu" md-raised-button id="expand_id" (click)="toggleMenu()">
        <md-icon>chevron_left
        </md-icon>
      </button>

      <button *ngIf="!fullMenu" md-raised-button id="collapse_id" (click)="toggleMenu()">
        <md-icon>chevron_right</md-icon>
      </button>
    </div>

    <div id="bottomLogo" *ngIf="fullMenu">
      <div>
        <img src="assets/images/EC+Logo2.png"/>
      </div>
      <div class="domibusTextSmall"
           style="display: flex;flex-direction: column-reverse;text-align: left;color:#004494;padding-left: 5px;">
        <div>
          Connecting Europe
        </div>
        <div style="font-size: 10pt">
          CEF Digital
        </div>
      </div>
    </div>

  </md-sidenav>

  <!-- primary content -->
  <div id=".my-content">
    <alert></alert>
    <div id="sandwichMenuHolder">
      <div id="sandwichMenu">
        <button md-icon-button [md-menu-trigger-for]="settingsMenu">
          <md-icon>menu</md-icon>
        </button>

        <md-menu x-position="before" #settingsMenu="mdMenu">

          <div *ngIf="currentUser">

            <button md-menu-item disabled="true">
              <md-icon>person</md-icon>
              <span>{{currentUser}}</span>
            </button>

            <hr/>

            <button md-menu-item (click)="logout($event)">
              <md-icon>power_settings_new</md-icon>
              <span>Logout</span>
            </button>

          </div>

          <div *ngIf="!currentUser" style="text-align: center; vertical-align: middle;margin: 2px;">
            <button md-menu-item disabled="true">
              <md-icon>person_outline</md-icon>
              <span>Not logged in</span>
            </button>
          </div>

        </md-menu>
      </div>
    </div>
    <div id="routerHolder">
      <div style="margin:15px">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</md-sidenav-container>
