[md-raised-button] {
  width: 100%;
}

md-sidenav-container {
  width: 100%;
  height: 100%;
  /*border: solid green;*/

}

md-sidenav {
  width: 100%;
  text-align: center;
  /*border: dashed red;*/
}

#domibusTemplate {
  width: 100%;
  height: 896px;
  /*border: solid brown;*/
  padding: 5px;
}

#sideNav {
  position: relative;
  float: left;
  width: 290px;
  height: 100%;
  /*height: 896px;*/
  box-shadow: 1px 1px 5px #555;
  /*margin-right: 10px;*/
  /*border: solid blueviolet;*/
}

#topLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: solid yellow;*/
  margin-top: 35px;
  margin-bottom: 45px;
}

#middleContent {
  /*border: solid peru;*/
  width: 100%;
  height: 600px;
}

#bottomLogo {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: solid yellow;*/
  margin-top: 25px;
  margin-bottom: 25px;
}

.sideNavButton {
  text-align: left;
  padding-left: 25%;
}

#mainContent {
  /*border: solid greenyellow;*/
  display: block;
  margin-left: 335px;
  height: 100%;
}

#sandwichMenuHolder {
  /*width: 100%;*/
  position: relative;
  height: 50px;
  display: block;
  /*border: solid red;*/
}

#sandwichMenu {
  float: right;
  /*border: solid mediumpurple;*/
}

#routerHolder {
  /*flex: 1 1 auto;*/
  display: block;
  overflow: hidden;
  height: 100%;
  /*border: solid yellow;*/
}
