<h1 id="usersheader_id">Users</h1>


<div style="display:inline-flex">
  <div>
    <app-row-limiter [pageSizes]="rowLimiter.pageSizes"
                     (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
  </div>
  <div>
    <app-column-picker [allColumns]="columnPicker.allColumns" [selectedColumns]="columnPicker.selectedColumns"
                       (onSelectedColumnsChanged)="columnPicker.changeSelectedColumns($event)"></app-column-picker>
  </div>
</div>

<ngx-datatable
  id="userTable"
  class="material striped"
  [rows]="users"
  [columns]="columnPicker.selectedColumns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
  [loadingIndicator]="false"
  [selected]="selected"
  [limit]="rowLimiter.pageSize"
  [selectionType]="'multi'"
  (select)='onSelect($event)'>
</ngx-datatable>

<ng-template #editableTpl let-value="value" let-row="row" ngx-datatable-cell-template>
          <span (dblclick)="buttonEdit()"
                class="clickAble"
                style="word-wrap: break-word">
            {{value}}
          </span>
</ng-template>

<ng-template #passwordTpl let-value="value" let-row="row" ngx-datatable-cell-template>
          <span (dblclick)="buttonEdit()"
                class="password-field" class="clickAble">
            ******
          </span>
</ng-template>

<ng-template #checkBoxTpl let-row="row" ngx-datatable-cell-template>
  <input type="checkbox" [checked]="row['active']" disabled>
</ng-template>


<table class="buttonsRow">
  <tr>
    <td>
      <button id="userCancelButton" md-raised-button (click)="cancelDialog()" color="primary"
              [disabled]="!enableCancel">
        <md-icon>cancel</md-icon>
        <span>Cancel</span>
      </button>
      <button id="userSaveButton" md-raised-button (click)="saveDialog()" color="primary" [disabled]="!enableSave">
        <md-icon>save</md-icon>
        <span>Save</span>
      </button>
      <button id="userNewButton" md-raised-button (click)="buttonNew()" color="primary">
        <md-icon>add</md-icon>
        <span>New</span>
      </button>
      <button id="userEditButton" md-raised-button (click)="buttonEdit()" color="primary" [disabled]="!enableEdit">
        <md-icon>edit</md-icon>
        <span>Edit</span>
      </button>
      <button id="userDeleteButton" md-raised-button (click)="buttonDelete()" color="primary"
              [disabled]="!enableDelete">
        <md-icon>delete</md-icon>
        <span>Delete</span>
      </button>
    </td>
  </tr>
</table>
