<h1 md-dialog-title>Do you want to save your changes? <br>Click on "Save" to proceed, and "Cancel" to abort.
</h1>

<div class="divTable">
  <div class="divTableBody">

    <div class="divTableRow">
      <div class="divTableCell">
        <button md-raised-button color="primary" (click)="dialogRef.close('Save')" id="savebutton_id">Save</button>
      </div>
      <div class="divTableCell">
        <button md-raised-button color="primary" (click)="dialogRef.close('Cancel')" id="cancelbutton_id">Cancel</button>
      </div>
    </div>
  </div>
</div>

