<page-header id="partyHeader_id">Party</page-header>
<div class="selectionCriteria">
  <md-card>
    <md-card-content>
      <div class="panel">
        <md-input-container>
          <input mdInput placeholder="Name" [(ngModel)]="name" id="name_id">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="End point" [(ngModel)]="endPoint" id="endPoint_id">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Party id" [(ngModel)]="partyID" id="partyID_id">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Process" [(ngModel)]="process" id="process_id">
        </md-input-container>
        <div class="searchArea">
          <button md-raised-button color="primary" id="searchbutton_id" (click)="search()">
            <md-icon>search</md-icon>
            <span>Search</span>
          </button>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>

<div class="panel">
  <div class="group-filter-button">
    <span class="row-button">
      <app-row-limiter [pageSizes]="rowLimiter.pageSizes"
                       (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
    </span>
    <span class="column-filter-button">
      <app-column-picker [allColumns]="columnPicker.allColumns" [selectedColumns]="columnPicker.selectedColumns"
                         (onSelectedColumnsChanged)="columnPicker.changeSelectedColumns($event)"></app-column-picker>
    </span>
    <button md-icon-button color="primary" [disabled]="!isSaveAsCSVButtonEnabled()" (click)="saveAsCSV()"
            id="saveascsvbutton_id" md-tooltip="Export as CSV">
      <img src="assets/images/exportCSV.svg" width="30" height="30">
    </button>
  </div>
</div>

<ngx-datatable
  id="partyTable"
  class="material striped"
  [rows]="rows"
  [columnMode]="'force'"
  [columns]="columnPicker.selectedColumns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
  [externalPaging]="true"
  [externalSorting]="true"
  [loadingIndicator]="loading"
  [count]="count"
  [offset]="offset"
  [limit]="rowLimiter.pageSize"
  [offset]="offset"
  [limit]="rowLimiter.pageSize"
  [selected]="selected"
  [selectionType]="'single'"
  (page)='onPage($event)'
  (activate)="onActivate($event)"
>
</ngx-datatable>
<table class="group-action-button">
  <tr>
    <td>
      <button md-raised-button (click)="cancel()" color="primary" [disabled]="!canCancel()">
        <md-icon>cancel</md-icon>
        <span>Cancel</span>
      </button>
      <button md-raised-button (click)="save()" color="primary" [disabled]="!canSave()">
        <md-icon>save</md-icon>
        <span>Save</span>
      </button>
      <button md-raised-button (click)="add()" color="primary">
        <md-icon>add</md-icon>
        <span>New</span>
      </button>
      <button md-raised-button (click)="edit()" color="primary" [disabled]="!canEdit()">
        <md-icon>edit</md-icon>
        <span>Edit</span>
      </button>
      <button md-raised-button (click)="remove()" color="primary" [disabled]="!canDelete()">
        <md-icon>delete</md-icon>
        <span>Delete</span>
      </button>
    </td>
  </tr>
</table>
