<?xml version="1.0" encoding="UTF-8"?>


<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{ISO8601} %5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="eu.domibus" level="DEBUG"/>
    <logger name="com.atomikos" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>