<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 e-CODEX Project
  ~
  ~ Licensed under the EUPL, Version 1.1 or – as soon they
  ~ will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence");
  ~ You may not use this work except in compliance with the
  ~ Licence.
  ~ You may obtain a copy of the Licence at:
  ~ http://ec.europa.eu/idabc/eupl5
  ~ Unless required by applicable law or agreed to in
  ~ writing, software distributed under the Licence is
  ~ distributed on an "AS IS" basis,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied.
  ~ See the Licence for the specific language governing
  ~ permissions and limitations under the Licence.
  -->

<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             version="2.0"
             xmlns="http://java.sun.com/xml/ns/persistence"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
  http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <persistence-unit name="domibusJTA" transaction-type="JTA">
        <class>eu.domibus.common.model.configuration.Action</class>
        <class>eu.domibus.common.model.configuration.Agreement</class>
        <class>eu.domibus.common.model.configuration.Binding</class>
        <class>eu.domibus.common.model.configuration.BusinessProcesses</class>
        <class>eu.domibus.common.model.configuration.Configuration</class>
        <class>eu.domibus.common.model.configuration.ErrorHandling</class>
        <class>eu.domibus.common.model.configuration.Identifier</class>
        <class>eu.domibus.common.model.configuration.LegConfiguration</class>
        <class>eu.domibus.common.model.configuration.Mep</class>
        <class>eu.domibus.common.model.configuration.Mpc</class>
        <class>eu.domibus.common.model.configuration.Party</class>
        <class>eu.domibus.common.model.configuration.PartyIdType</class>
        <class>eu.domibus.common.model.configuration.Payload</class>
        <class>eu.domibus.common.model.configuration.PayloadProfile</class>
        <class>eu.domibus.common.model.configuration.Process</class>
        <class>eu.domibus.common.model.configuration.Property</class>
        <class>eu.domibus.common.model.configuration.PropertySet</class>
        <class>eu.domibus.common.model.configuration.ReceptionAwareness</class>
        <class>eu.domibus.common.model.configuration.Reliability</class>
        <class>eu.domibus.common.model.configuration.Role</class>
        <class>eu.domibus.common.model.configuration.Security</class>
        <class>eu.domibus.common.model.configuration.Service</class>
        <class>eu.domibus.common.model.logging.ErrorLogEntry</class>
        <class>eu.domibus.common.model.logging.UserMessageLog</class>
        <class>eu.domibus.common.model.logging.SignalMessageLog</class>
        <class>eu.domibus.ebms3.common.model.Error</class>
        <class>eu.domibus.ebms3.common.model.MessageInfo</class>
        <class>eu.domibus.ebms3.common.model.Messaging</class>
        <class>eu.domibus.ebms3.common.model.PartInfo</class>
        <class>eu.domibus.ebms3.common.model.PartyId</class>
        <class>eu.domibus.ebms3.common.model.Property</class>
        <class>eu.domibus.ebms3.common.model.Receipt</class>
        <class>eu.domibus.ebms3.common.model.SignalMessage</class>
        <class>eu.domibus.ebms3.common.model.UserMessage</class>
        <class>eu.domibus.plugin.routing.BackendFilter</class>
        <class>eu.domibus.plugin.routing.RoutingCriteria</class>
        <class>eu.domibus.ebms3.common.model.SecurityHeader</class>

        <!-- Comment this class if you don't use the default ws plugin.
        Default ws plugin uses the same db config as the core for storing auth info-->
        <class>eu.domibus.plugin.webService.entity.AuthenticationEntry</class>

        <properties>
            <property name="hibernate.transaction.manager_lookup_class"
                      value="com.atomikos.icatch.jta.hibernate3.TransactionManagerLookup"/>
            <property name="hibernate.archive.autodetection" value="class"/>
            <property name="hibernate.ConnectionReleaseMode" value="after_statement"/>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <!--<property name="hibernate.hbm2ddl.import_files" value="database/quartz.sql, database/sendMessageDataset.sql"/>-->
            <property name="hibernate.hbm2ddl.import_files" value="dataset/database/quartz.sql"/>
        </properties>
    </persistence-unit>
</persistence>

