.textarea {
  margin: 0;
  padding: 5px;
  height: 40vw;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.pModeInfo {
  font-size: 110%;
}

#xmlTab {
  font-family: 'Open Sans', sans-serif;
}

label:hover, label:active, input:hover + label, input:active + label {
  color: #3f51b5;
}

