<div>

  <div class="selectionCriteria">
    <md-card style="margin:0;padding:10px;">
      <md-card-content>
        <p class="domibusTextHeadingBold">Error Log</p>

        <form name="filterForm" #filterForm="ngForm" (ngSubmit)="search()">
          <md-input-container class="inputField">
            <input mdInput placeholder="Signal Message Id" name="errorSignalMessageId"
                   [(ngModel)]="filter.errorSignalMessageId" #errorSignalMessageId="ngModel" id="signalmessageid_id" width="40px">
          </md-input-container>
          <md-input-container class="inputField">
            <input mdInput placeholder="Message Id" name="messageInErrorId" [(ngModel)]="filter.messageInErrorId"
                   #messageInErrorId="ngModel" id="messageid_id">
          </md-input-container>
          <md-input-container class="inputField">
            <input mdInput placeholder="Error detail" name="ErrorDetail" [(ngModel)]="filter.errorDetail"
                   #errorDetail="ngModel" id="errordetail_id">
          </md-input-container>
          <md-select placeholder="MSH Role" [(ngModel)]="filter.mshRole" name="mshRole" class="optionField">
            <md-option [value]="''">
            </md-option>
            <md-option *ngFor="let role of mshRoles" [value]="role" id="mshrole_id">
              {{role}}
            </md-option>
          </md-select>
          <md-select placeholder="Error Code" [(ngModel)]="filter.errorCode" name="errorCode" class="optionField">
            <md-option [value]="''">
            </md-option>
            <md-option *ngFor="let code of errorCodes" [value]="code" id="errorcode_id">
              {{code}}
            </md-option>
          </md-select>
          <div></div>
          <md2-datepicker placeholder="From:"
                          [(ngModel)]="filter.timestampFrom"
                          name="fromTimestmap"
                          [type]="'datetime'"
                          [max]="timestampFromMaxDate"
                          (change)='onTimestampFromChange($event)'
                          #timestampControl="ngModel" id="fromtimestamp_id" class="dateField"></md2-datepicker>
          <md2-datepicker placeholder="To:"
                          [(ngModel)]="filter.timestampTo"
                          name="toTimestmap"
                          [min]="timestampToMinDate"
                          [max]="timestampToMaxDate"
                          (change)='onTimestampToChange($event)'
                          [type]="'datetime'"
                          #timestampControl="ngModel" id="totimestamp_id" class="dateField"></md2-datepicker>
          <md2-datepicker placeholder="From:"
                          [(ngModel)]="filter.notifiedFrom"
                          name="notifiedFrom"
                          [type]="'datetime'"
                          [max]="notifiedFromMaxDate"
                          (change)='onNotifiedFromChange($event)'
                          #timestampControl="ngModel" id="notifiedfrom_id" class="dateField"></md2-datepicker>
          <md2-datepicker placeholder="To:"
                          [(ngModel)]="filter.notifiedTo"
                          name="notifiedTo"
                          [type]="'datetime'"
                          [min]="notifiedToMinDate"
                          [max]="notifiedToMaxDate"
                          (change)='onNotifiedToChange($event)'
                          #timestampControl="ngModel" id="notifiedto_id" class="dateField"></md2-datepicker>
          <button md-raised-button color="primary" [disabled]="!filterForm.form.valid" id="searchbutton_id">
            <md-icon>search</md-icon>
            <span>Search</span>
          </button>
        </form>

      </md-card-content>
    </md-card>
  </div>

  <div class="rowsDiv">
    <md-select placeholder="Rows" [(ngModel)]="pageSize" name="pageSize" (change)="changeRowLimits($event)" id="pagesize_id">
      <md-option *ngFor="let rowLimit of rowLimits" [value]="rowLimit.value">
        {{rowLimit.key}}
      </md-option>
    </md-select>
  </div>

  <ngx-datatable
    id="errorLogTable"
    class="material striped"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [externalPaging]="true"
    [externalSorting]="true"
    [loadingIndicator]="loading"
    [count]="count"
    [offset]="offset"
    [limit]="pageSize"
    [sorts]="[{prop: 'timestamp', dir: 'desc'}]"
    (page)='onPage($event)'
    (sort)="onSort($event)">
    <ngx-datatable-column name="ErrorSignalMessageId">
      <ng-template let-column="column">
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="text-select">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="MshRole" [width]="50">
      <ng-template let-column="column">
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="text-select">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="MessageInErrorId">
      <ng-template let-column="column">
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="text-select">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ErrorCode" [width]="50">
      <ng-template let-column="column">
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="text-select">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ErrorDetail" [width]="250">
      <ng-template let-column="column">
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="text-select">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Timestamp" [width]="180">
      <ng-template let-column="column">
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="text-select">{{value | date: dateFormat}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Notified" [width]="180">
      <ng-template let-column="column">
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="text-select">{{value | date: dateFormat}}</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

</div>
