<div class="selectionCriteria">
  <md-card style="margin:0;padding:10px;">
    <md-card-content>
      <p class="domibusTextHeadingBold">Error Log</p>

      <form name="filterForm" #filterForm="ngForm" (ngSubmit)="search()">

        <md-input-container class="inputField">
          <input mdInput placeholder="Signal Message Id" name="errorSignalMessageId"
                 [(ngModel)]="filter.errorSignalMessageId" #errorSignalMessageId="ngModel" id="signalmessageid_id"
                 width="40px">
        </md-input-container>

        <md-input-container class="inputField">
          <input mdInput placeholder="Message Id" name="messageInErrorId" [(ngModel)]="filter.messageInErrorId"
                 #messageInErrorId="ngModel" id="messageid_id">
        </md-input-container>

        <br *ngIf="!advancedSearch">

        <md-input-container class="inputField" *ngIf="advancedSearch">
          <input mdInput placeholder="Error detail" name="ErrorDetail" [(ngModel)]="filter.errorDetail"
                 #errorDetail="ngModel" id="errordetail_id">
        </md-input-container>
        <md-select placeholder="AP Role" [(ngModel)]="filter.mshRole" name="mshRole" class="optionField" id="aprole_id"
                   *ngIf="advancedSearch">
          <md-option [value]="''">
          </md-option>
          <md-option *ngFor="let role of mshRoles" [value]="role">
            {{role}}
          </md-option>
        </md-select>

        <md-select placeholder="Error Code" [(ngModel)]="filter.errorCode" name="errorCode" class="optionField"
                   id="errorcode_id" *ngIf="advancedSearch">
          <md-option [value]="''">
          </md-option>
          <md-option *ngFor="let code of errorCodes" [value]="code">
            {{code}}
          </md-option>
        </md-select>

        <br *ngIf="advancedSearch">


        <md2-datepicker placeholder="Error from:"
                        [(ngModel)]="filter.timestampFrom"
                        name="fromTimestmap"
                        [type]="'datetime'"
                        [max]="timestampFromMaxDate"
                        (change)='onTimestampFromChange($event)'
                        #timestampControl="ngModel" id="fromtimestamp_id" class="dateTableField"></md2-datepicker>
        <md2-datepicker placeholder="Error to:"
                        [(ngModel)]="filter.timestampTo"
                        name="toTimestmap"
                        [min]="timestampToMinDate"
                        [max]="timestampToMaxDate"
                        (change)='onTimestampToChange($event)'
                        [type]="'datetime'"
                        #timestampControl="ngModel" id="totimestamp_id" class="dateTableField"></md2-datepicker>

        <br *ngIf="advancedSearch">

        <md2-datepicker placeholder="Notified from:"
                        [(ngModel)]="filter.notifiedFrom"
                        name="notifiedFrom"
                        [type]="'datetime'"
                        [max]="notifiedFromMaxDate"
                        (change)='onNotifiedFromChange($event)'
                        #timestampControl="ngModel" id="notifiedfrom_id" class="dateTableField"
                        *ngIf="advancedSearch"></md2-datepicker>
        <md2-datepicker placeholder="Notified to:"
                        [(ngModel)]="filter.notifiedTo"
                        name="notifiedTo"
                        [type]="'datetime'"
                        [min]="notifiedToMinDate"
                        [max]="notifiedToMaxDate"
                        (change)='onNotifiedToChange($event)'
                        #timestampControl="ngModel" id="notifiedto_id" class="dateTableField"
                        *ngIf="advancedSearch"></md2-datepicker>


        <div class="expandableSearch">
          <button md-raised-button color="primary" [disabled]="!filterForm.form.valid" id="searchbutton_id">
            <md-icon>search</md-icon>
            <span>Search</span>
          </button>
          <a href="#" *ngIf="!advancedSearch" (click)="toggleAdvancedSearch()" id="advancedlink_id">Advanced</a>
          <a href="#" *ngIf="advancedSearch" (click)="toggleAdvancedSearch()" id="basiclink_id">Basic</a>
        </div>
      </form>

    </md-card-content>
  </md-card>
</div>


<div style="display:inline-flex;position:relative;margin-bottom: 10px">
  <app-row-limiter [pageSizes]="pageSizes" (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
  <div style="margin-left:5px">
    <div style="position:absolute;bottom: -2px;float:left">
      <a class="domibusLink" href="#" *ngIf="!columnSelection" (click)="toggleColumnSelection()" id="columnslinkoff_id">Columns</a>
      <a class="domibusLink" href="#" *ngIf="columnSelection" (click)="toggleColumnSelection()" id="columnslinkon_id">Columns</a>
    </div>
  </div>
</div>

<div *ngIf="columnSelection" style="margin-bottom: 10px">
  <div *ngFor='let col of allColumns' style="display: inline-block;margin:5px;">
    <input
      type='checkbox'
      [id]="col.name"
      (click)='toggle(col)'
      [checked]='isChecked(col)'
    />
    <label [attr.for]="col.name">{{col.name}}</label>
  </div>
  <button md-raised-button color="primary" (click)="selectAllColumns()" id="all_button_id">
    <md-icon>check_box</md-icon>
    <span>All</span>
  </button>
  <button md-raised-button color="primary" (click)="selectNoColumns()" id="none_button_id">
    <md-icon>check_box_outline_blank</md-icon>
    <span>None</span>
  </button>
</div>

<ngx-datatable
  id="errorLogTable"
  class="material striped"
  [rows]="rows"
  [columnMode]="'force'"
  [columns]="selectedColumns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
  [externalPaging]="true"
  [externalSorting]="true"
  [loadingIndicator]="loading"
  [count]="count"
  [offset]="offset"
  [limit]="pageSize"
  [sorts]="[{prop: 'timestamp', dir: 'desc'}]"
  (page)='onPage($event)'
  (sort)="onSort($event)"
  (activate)="onActivate($event)"
  (select)="onSelect($event)">
</ngx-datatable>

<ng-template #hdrTpl let-column="column" ngx-datatable-header-template>
  <strong>{{column.name}}</strong>
</ng-template>

<ng-template #rowTpl let-row="row" let-value="value" ngx-datatable-cell-template>
  <span class="text-select">{{value}}</span>
</ng-template>

<ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
  <span class="text-select">{{value | domibusDate: dateFormat}}</span>
</ng-template>

