.rowsDiv {
  margin-top:30px;
}

.selectionCriteria {
  margin-top:5px;
}

.inputField {
  width:100%;
}

.filterTable {
  width:100%;

}
.filterTable td {
  width :30%
}

.dateTimeTitle {
  width:100px;
  text-align:right;
}
