<h1 md-dialog-title>Upload File</h1>

<div class="divTable">
  <div class="divTableBody">

    <div class="divTableRow">
      <div class="divTableCell">
        <input #fileInput type="file" id="pmode" accept=".xml">
      </div>
      <div class="divTableCell">
      </div>
    </div>
    <table class="buttonsRow">
      <tr>
        <td>
        <button md-raised-button color="primary" (click)="submit()" id="okbuttonupload_id">
          <md-icon>check_circle</md-icon>
          <span>OK</span>
        </button>
        <button md-raised-button color="primary" (click)="dialogRef.close('Cancel')" id="cancelbuttonupload_id">
          <md-icon>cancel</md-icon>
          <span>Cancel</span>
        </button>
        </td>
      </tr>
    </table>
  </div>
</div>


