<h1 id="messageDialogTitle" md-dialog-title>Do you want to resend the selected message? <br>Click on "Resend" to proceed or "Cancel" to abort.
</h1>

<div class="divTable">
  <div class="divTableBody">

    <div class="divTableRow">
      <div class="divTableCell">
        <button id="messageDialogResendButton" md-raised-button color="primary" (click)="dialogRef.close('Resend')">Resend</button>
      </div>
      <div class="divTableCell">
        <button id="messageDialogCancelButton" md-raised-button color="primary" (click)="dialogRef.close('Cancel')">Cancel</button>
      </div>
    </div>
  </div>
</div>
