<h1 id="jmsmonitoringheader_id">JMS Monitoring</h1>
<div class="selectionCriteria">
  <md-card>
    <md-card-content>
      <div class="panel">

        <md-select class="searchField" placeholder="Source" [(ngModel)]="selectedSource" name="jmsQueueSelector"
                   id="jmsQueueSelector">
          <md-option *ngFor="let queue of queues" [value]="queue" style="width:100%">
            {{queue.internal ? "[internal]" :""}} {{queue.name}} ({{queue.numberOfMessages}})
          </md-option>
        </md-select>
        <md2-datepicker id="jmsFromDatePicker"
                        placeholder="From:"
                        [(ngModel)]="request.fromDate"
                        name="receivedFrom"
                        [type]="'datetime'"
                        [max]="timestampFromMaxDate"
                        (change)='onTimestampFromChange($event)'
                        #timestampControl="ngModel">
        </md2-datepicker>
        <md2-datepicker id="jmsToDatePicker"
                        placeholder="To:"
                        [(ngModel)]="request.toDate"
                        name="receivedTo"
                        [min]="timestampToMinDate"
                        [max]="timestampToMaxDate"
                        (change)='onTimestampToChange($event)'
                        [type]="'datetime'"
                        #timestampControl="ngModel">
        </md2-datepicker>

        <md-input-container id="jmsSelector">
          <input id="jmsSelectorinput" mdInput placeholder="Selector" [(ngModel)]="request.selector">
        </md-input-container>

        <md-input-container id="jmsType">
          <input id="jmsTypeInput" mdInput placeholder="JMS Type" [(ngModel)]="request.jmsType">
        </md-input-container>

        <div class="searchArea">
          <button id="jmsSearchButton" md-raised-button color="primary" (click)="search()">
            <md-icon>search</md-icon>
            <span>Search</span>
          </button>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>

<div class="panel">
  <div class="group-filter-button">
    <span class="row-button">
    <app-row-limiter [pageSizes]="rowLimiter.pageSizes"
                     (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
    </span>
    <span class="column-filter-button">
    <app-column-picker [allColumns]="columnPicker.allColumns" [selectedColumns]="columnPicker.selectedColumns"
                       (onSelectedColumnsChanged)="columnPicker.changeSelectedColumns($event)"></app-column-picker>
    </span>
  </div>

  <ngx-datatable
    id="errorLogTable"
    class="material striped"
    [rows]="rows"
    [columns]="columnPicker.selectedColumns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [loadingIndicator]="loading"
    [selectionType]="'multi'"
    [selected]="selectedMessages"
    [limit]="rowLimiter.pageSize"
    [sorts]="[{prop: 'timestamp', dir: 'desc'}]"
    (activate)="onActivate($event)"
    (select)="onSelect($event)">
  </ngx-datatable>

  <ng-template #rowWithJSONTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    {{value | json}}
  </ng-template>

  <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value | domibusDate: dateFormat}}</span>
  </ng-template>

  <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
    <button md-icon-button [md-menu-trigger-for]="actionsMenu" id="actionsmenu_id">
      <md-icon>list</md-icon>
    </button>
  </ng-template>

  <md-menu x-position="before" #actionsMenu="mdMenu">
    <div>
      <button id="jmsMoveButtonMenu" md-menu-item color="primary" (click)="move()"
              [disabled]="selectedMessages.length == 0">
        <md-icon>move_to_inbox</md-icon>
        <span>Move</span>
      </button>
    </div>
    <div>
      <button id="jmsDeleteButtonMenu" md-menu-item color="primary" (click)="delete()"
              [disabled]="selectedMessages.length == 0">
        <md-icon>delete</md-icon>
        <span>Delete</span>
      </button>
    </div>
  </md-menu>

  <div class="group-action-button">
    <button id="jmsCancelButton" md-raised-button color="primary" (click)="cancel()"
            [disabled]="markedForDeletionMessages.length == 0">
      <md-icon>cancel</md-icon>
      <span>Cancel</span>
    </button>
    <button id="jmsSaveButton" md-raised-button color="primary" (click)="save()"
            [disabled]="markedForDeletionMessages.length == 0">
      <md-icon>save</md-icon>
      <span>Save</span>
    </button>
    <button id="jmsMoveButton" md-raised-button color="primary" (click)="move()"
            [disabled]="selectedMessages.length == 0">
      <md-icon>move_to_inbox</md-icon>
      <span>Move</span>
    </button>
    <button id="jmsDeleteButton" md-raised-button color="primary" (click)="delete()"
            [disabled]="selectedMessages.length == 0">
      <md-icon>delete</md-icon>
      <span>Delete</span>
    </button>
  </div>

</div>
