<div style="width: 500px">
  <h1 md-dialog-title>Do you want to cancel all unsaved operations? <br>Click on "No" to cancel or "Yes" to proceed.
  </h1>

  <div class="divTable">
    <div class="divTableBody">

      <div class="divTableRow">
        <div class="divTableCell">
          <button md-raised-button color="primary" (click)="dialogRef.close('No')" id="nobutton_id">
            <md-icon>cancel</md-icon>
            <span>No</span>
          </button>
        </div>
        <div class="divTableCell">
          <button md-raised-button color="primary" (click)="dialogRef.close('Yes')" id="yesbutton_id">
            <md-icon>check_circle</md-icon>
            <span>Yes</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
