<h1 md-dialog-title>Do you want to cancel all unsaved operations? <br>Click on "Yes" to proceed or "No" to cancel.
</h1>

<div class="divTable">
  <div class="divTableBody">

    <div class="divTableRow">
      <div class="divTableCell">
        <button md-raised-button color="primary" (click)="dialogRef.close('Yes')" id="yesbutton_id">Yes</button>
      </div>
      <div class="divTableCell">
        <button md-raised-button color="primary" (click)="dialogRef.close('No')" id="nobutton_id">No</button>
      </div>
    </div>
  </div>
</div>

