<div style="width: 700px">
  <p class="domibusTextSmall" style="margin:0;font-weight: bold">Change Password</p>
  <form [formGroup]="userForm" (submit)="submitForm()">
    <md-card>

      <div style="margin-top:15px;">
        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="New Password" name="newPassword" id="newPassword_id" type="password"
                 [(ngModel)]="newPassword" [formControl]="userForm.controls['newPassword']" [pattern]="passwordPattern" >
          <div *ngIf="userForm.controls['newPassword'].dirty">
            <div *ngIf="userForm.controls['newPassword'].hasError('required')" style="color:red; font-size: 70%">
              You should type a new new password
            </div>
            <div *ngIf="userForm.controls['newPassword'].hasError('pattern')" style="color:red; font-size: 70%">
              Password should follow all of these rules:<br>
              <div [innerHTML]="passwordValidationMessage"></div>
            </div>
          </div>
        </md-input-container>
      </div>

      <div>
        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="Confirmation" name="confirmation" id="confirmation_id" type="password"
                 [(ngModel)]="confirmation" [formControl]="userForm.controls['confirmation']">
          <div *ngIf="userForm.controls['confirmation'].hasError('required')"
               style="color:red; font-size: 70%">You should type the confirmation
          </div>
          <div *ngIf="userForm.controls['confirmation'].hasError('confirmation')" style="color:red; font-size: 70%">
            Passwords do not match
          </div>
        </md-input-container>
      </div>


      <button md-raised-button color="primary" [md-dialog-close]="true" (click)="submitForm()" id="editbuttonok_id" [disabled]="!userForm.valid">
        <md-icon>check_circle</md-icon>
        <span>OK</span>
      </button>
      <button md-raised-button color="primary" id="editbuttoncancel_id" md-dialog-close>
        <md-icon>cancel</md-icon>
        <span>Cancel</span>
      </button>

      <div style="text-align: right; font-size: 70%">* required fields</div>
    </md-card>
  </form>
</div>
