<div style="width:100%;">
  <div style="width:30%;margin: 0 auto; min-width: 300px;">
    <p class="domibusTextSmall" style="margin:0;font-weight: bold">Change Password</p>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <md-card>

        <div style="margin-top:15px;">
          <md-input-container [style.width]="'100%'">
            <input mdInput placeholder="Current Password" name="currentPassword" id="currentPassword_id" type="password" required
                   [(ngModel)]="currentPassword" [formControl]="userForm.controls['currentPassword']">
            <div *ngIf="userForm.controls['currentPassword'].touched && userForm.controls['currentPassword'].hasError('required')" style="color:red; font-size: 70%">
              You should type the current password
            </div>
          </md-input-container>
        </div>

        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="New Password" name="password" id="newPassword_id" type="password" required
                 [(ngModel)]="password" [formControl]="userForm.controls['password']" [pattern]="passwordPattern">
          <div *ngIf="userForm.controls['password'].touched">
            <div *ngIf="userForm.controls['password'].hasError('required')" style="color:red; font-size: 70%">
              You should type a new password
            </div>
            <div *ngIf="userForm.controls['password'].hasError('pattern')"
                 style="color:red; font-size: 70%">
              Password should follow all of these rules:<br>
              <div [innerHTML]="passwordValidationMessage"></div>
            </div>
          </div>
        </md-input-container>

        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="Confirmation" name="confirmation" id="confirmation_id" type="password" required
                 [(ngModel)]="confirmation" [formControl]="userForm.controls['confirmation']">
          <div *ngIf="userForm.controls['confirmation'].touched">
            <div *ngIf="userForm.controls['confirmation'].hasError('required')"
                 style="color:red; font-size: 70%">You should type the confirmation
            </div>
            <div *ngIf="userForm.controls['confirmation'].hasError('confirmation')" style="color:red; font-size: 70%">
              Passwords do not match
            </div>
          </div>
        </md-input-container>


        <button md-raised-button color="primary" id="editbuttonok_id" [disabled]="!(userForm.dirty && userForm.valid)">
          <md-icon>check_circle</md-icon>
          <span>Update</span>
        </button>

        <div style="text-align: right; font-size: 70%">* required fields</div>
      </md-card>
    </form>
  </div>
</div>
