<div id="page" class="login-page">
  <div id="formContainer">
      <table cellspacing="30" cellpadding="10">
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            You have been logged out from Domibus. <br><br>
            Click here to login again. <br><br>
            <button md-raised-button color="primary"  id="loginagainbutton_id"
                    button-click-behaviour (click)="login_again()">
              <md-icon>input</md-icon>
              <span>Login</span>
            </button>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
      <footer></footer>
  </div>
</div>

