.rowsDiv {
  margin-top:30px;
}

.selectionCriteria {
  margin-top:5px;
}

.inputField {
  width:33%;
}

.inputFieldParties {
  width:15%;
}

.optionField {
  width:15%;
}

.dateField {
  width:15%;
}

.filterTable {
  width:100%;
}

.filterTable td {
  width :33%
}

.dateTimeTitle {
  width:100px;
  text-align:right;
}
