<div style="width:450px">
  <md2-dialog-title>Password</md2-dialog-title>
  <md-card>
    <md-card-content>
      <md-card-title-group>
        <md-card-title>Password</md-card-title>
      </md-card-title-group>
      <md-input-container style="width:100%">
        <input mdInput placeholder="New password" type="password" [(ngModel)]="editedUser.password"/>
      </md-input-container>
      <md-input-container style="width:100%">
        <input mdInput placeholder="Confirm password" type="password" [(ngModel)]="passwordVerification"/>
        <md-error></md-error>
      </md-input-container>
    </md-card-content>
  </md-card>

  <md2-dialog-actions>
    <button id="passwordDialogSaveButton" md-raised-button color="primary" (click)="save()" style="margin-top:10px">
      <md-icon>check circle</md-icon>
      <span>Save</span>
    </button>
    <button id="passwordDialogCancelButton" md-raised-button color="primary" (click)="dialogRef.close({})" style="margin-top:10px">
      <md-icon>check circle</md-icon>
      <span>Cancel</span>
    </button>
  </md2-dialog-actions>
</div>
