<div style="width:450px">
    <md2-dialog-title>Password</md2-dialog-title>
  <form [formGroup]="passwordForm" (ngSubmit)="submitForm(passwordForm.value)">
    <md-card>
      <md-card-content>
        <md-card-title-group>
          <md-card-title>Enter password and confirm</md-card-title>
        </md-card-title-group>
        <div class="form-group" [ngClass]="{'has-error':!passwordForm.controls['password'].valid}">
          <md-input-container style="width:100%">
            <input mdInput class="form-control" placeholder="New password" type="password" [formControl]="passwordForm.controls['password']"/>
            <div *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.controls['password'].touched" class="alert alert-danger">Password can not be empty</div>
            <div *ngIf="passwordForm.controls['password'].hasError('minlength') && passwordForm.controls['password'].touched" class="alert alert-danger">Your last password must be at least 8 characters long.</div>
            <div *ngIf="passwordForm.controls['password'].hasError('maxlength') && passwordForm.controls['password'].touched" class="alert alert-danger">Your last password cannot exceed 10 characters.</div>

        </md-input-container>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!passwordForm.controls['passwordConfirmation'].valid}">
          <md-input-container style="width:100%">
            <input mdInput class="form-control" placeholder="Confirm password" type="password" [formControl]="passwordForm.controls['passwordConfirmation']"/>
            <div *ngIf="passwordForm.controls['passwordConfirmation'].hasError('confirmation') && passwordForm.controls['passwordConfirmation'].touched" class="alert alert-danger" >Passwords do not match</div>
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>

    <md2-dialog-actions>
      <div class="form-group">
        <!--<button type="submit" class="btn btn-default" md-raised-button color="primary">Submit</button>-->
        <button id="passwordDialogSaveButton" type="submit" md-raised-button color="primary" style="margin-top:10px" [disabled]="!passwordForm.valid">
          <md-icon>check circle</md-icon>
          <span>Save</span>
        </button>


      <button id="passwordDialogCancelButton" md-raised-button color="primary" (click)="dialogRef.close({})"
              style="margin-top:10px">
        <md-icon>check circle</md-icon>
        <span>Cancel</span>
      </button>
      </div>

    </md2-dialog-actions>
  </form>
</div>
