.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.formError {
  color: red;
}

.alertMessage {
  font-size: 30%;
  color: red;
}
