<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 e-CODEX Project
  ~
  ~ Licensed under the EUPL, Version 1.1 or – as soon they
  ~ will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence");
  ~ You may not use this work except in compliance with the
  ~ Licence.
  ~ You may obtain a copy of the Licence at:
  ~ http://ec.europa.eu/idabc/eupl5
  ~ Unless required by applicable law or agreed to in
  ~ writing, software distributed under the Licence is
  ~ distributed on an "AS IS" basis,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied.
  ~ See the Licence for the specific language governing
  ~ permissions and limitations under the Licence.
  -->

<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             version="2.0"
             xmlns="http://java.sun.com/xml/ns/persistence"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
  http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <persistence-unit name="domibusJTA" transaction-type="JTA">
        <properties>
            <property name="hibernate.transaction.manager_lookup_class"
                      value="com.atomikos.icatch.jta.hibernate3.TransactionManagerLookup"/>
            <property name="hibernate.archive.autodetection" value="class"/>
            <!--property name="hibernate.transaction.factory_class"
                      value="org.hibernate.transaction.CMTTransactionFactory"/-->
            <property name="hibernate.ConnectionReleaseMode" value="after_statement"/>
        </properties>
    </persistence-unit>
</persistence>