<h1 id="pmodeheader_id">PMode</h1>
<div class="selectionCriteria">
  <md-card>
    <md-card-content>
      <div class="textarea" *ngIf="pModeExists">
        <textarea id="pmodetextarea_id" class="textarea" disabled style="resize: none">{{pModeContents}}</textarea>
      </div>
      <div class="pModeInfo" *ngIf="!pModeExists">
        <span>No PMode uploaded yet</span>
      </div>
      <table class="group-action-button">
        <tr>
          <td>
            <button md-raised-button color="primary" (click)="upload()" id="uploadbutton_id">
              <md-icon>file_upload</md-icon>
              <span>Upload</span>
            </button>
            <button md-raised-button color="primary" (click)="download()" id="downloadbutton_id" [disabled]="!pModeExists">
              <md-icon>file_download</md-icon>
              <span>Download</span>
            </button>
          </td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>
