.textarea {
  margin: 0;
  padding: 0;
  height: 39vw;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.buttonsRow {
  padding-top: 10px;
  width: 100%;
}

.pModeInfo {
  font-size: 110%;
}
