.textarea {
  margin: 0;
  padding: 0;
  height: 35vw;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.pModeInfo {
  font-size: 110%;
}

#xmlTab {
  font-family: 'Open Sans', sans-serif;
}
