<h1 id="messagesheader_id">Test Service</h1>

<div class="selectionCriteria">
  <md-card>
    <md-card-content>
      <div class="panel">
        <form name="filterForm" #filterForm="ngForm">
          <!-- Receiver Party -->
          <div *ngIf="!dynamicDiscoveryEnabled">
            <md-select placeholder="Receiver Party Id" name="receiverPartyId" [(ngModel)]="filter.receiverPartyId" #receiverPartyId="ngModel" id="receiverPartyId_id" (ngModelChange)="onChangeParties()">
            <md-option [value]="''">
            </md-option>
            <md-option *ngFor="let receiverParty of receiverParties" [value]="receiverParty">
              {{receiverParty}}
            </md-option>
          </md-select>
          </div>

          <div *ngIf="dynamicDiscoveryEnabled">
            <div>Dynamic Discovery</div>
            <md-input-container>
              <input mdInput placeholder="Final Recipient" name="finalRecipient" [(ngModel)]="filter.finalRecipient" #finalRecipient="ngModel" id="finalRecipient_id" (ngModelChange)="onChangeInfo()">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Final Recipient Type" name="finalRecipientType" [(ngModel)]="filter.finalRecipientType" #finalRecipientType="ngModel" id="finalRecipientType_id" (ngModelChange)="onChangeInfo()">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Service Type" name="serviceType" [(ngModel)]="filter.serviceType" #serviceType="ngModel" id="serviceType_id" (ngModelChange)="onChangeInfo()">
            </md-input-container>
          </div>

          <button md-raised-button color="primary" [disabled]="this.buttonDisabled" id="findbutton_id" *ngIf="dynamicDiscoveryEnabled" (click)="find()">
            <md-icon>search</md-icon>
            <span>Find</span>
          </button>
          <!-- Test Button -->
          <button md-raised-button color="primary" [disabled]="this.buttonDisabled" id="testbutton_id" (click)="test()">
            <md-icon>import_export</md-icon>
            <span>Test</span>
          </button>
        </form>
      </div>
    </md-card-content>
  </md-card>
</div>
<div>
  <md-card>
    <md-card-header>
      <md-card-title>Last Sent Echo Request</md-card-title>
    </md-card-header>
    <md-card-content>
      <div class="panel">
        <div>
          <md-input-container>
            <input mdInput placeholder="To Party Id" name="toPartyId" id="toPartyId_id" [(ngModel)]="messageInfoSent.toPartyId" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <input mdInput placeholder="To Access Point" name="toAccessPoint" id="toAccessPoint_id" [(ngModel)]="messageInfoSent.finalRecipient" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <input mdInput placeholder="Time Sent" name="timeSent" id="timeSent_id" [(ngModel)]="messageInfoSent.receivedTo" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <input mdInput placeholder="Message Id" name="toMessageId" id="toMessageId_id" [(ngModel)]="messageInfoSent.messageId" disabled>
          </md-input-container>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>Last Received Echo Reply</md-card-title>
    </md-card-header>
    <md-card-content>
      <div class="panel">
        <div>
          <md-input-container>
            <input mdInput placeholder="From Party Id" name="fromPartyId" id="fromPartyId_id" [(ngModel)]="messageInfoReceived.fromPartyId" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <input mdInput placeholder="From Access Point" name="fromAccessPoint" id="fromAccessPoint_id" [(ngModel)]="messageInfoReceived.originalSender" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <input mdInput placeholder="Time Received" name="timeReceived" id="timeReceived_id" [(ngModel)]="messageInfoReceived.receivedFrom" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <input mdInput placeholder="Message Id" name="fromMessageId" id="fromMessageId_id" [(ngModel)]="messageInfoReceived.messageId" disabled>
          </md-input-container>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
