<div style="width: 500px;text-align: center">
  <h1 md-dialog-title>Do you want to cancel all unsaved operations?</h1>

  <div class="divTable">
    <div class="divTableBody">

      <div class="divTableRow">

        <div class="divTableCell">
          <button md-raised-button color="primary" (click)="dialogRef.close(true)" id="yesbuttondialog_id">
            <md-icon>check_circle</md-icon>
            <span>Yes</span>
          </button>
        </div>

        <div class="divTableCell">
          <button md-raised-button color="primary" (click)="dialogRef.close(false)" id="nobuttondialog_id">
            <md-icon>cancel</md-icon>
            <span>No</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
