<div class="container">
  <form (ngSubmit)="submitTruststore()" #heroForm="ngForm">
    <div class="form-group">
      <label for="password">Truststre password</label>
      <input type="password" class="form-control" id="password" required>
    </div>

    <div class="form-group">
      <label for="truststore">Truststore</label>
      <input type="file" class="form-control-file" id="truststore" >
    </div>

    <button type="submit" color="primary" class="btn btn-success">Upload</button>

  </form>
</div>
