<div class="selectionCriteria">
  <md-card>
    <md-card-content>
      <h1 id="truststoreheader_id">Truststore</h1>


      <ngx-datatable
        id="errorLogTable"
        class="material striped"
        [rows]="trustStoreEntries"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [loadingIndicator]="loading"
        [selectionType]="'multi'"
        [selected]="selectedMessages"
        [sorts]="[{prop: 'alias', dir: 'desc'}]"
        (activate)="onActivate($event)"
        (select)="onSelect($event)">

        <ngx-datatable-column name="Name" prop="name">
        </ngx-datatable-column>

        <ngx-datatable-column name="Subject" prop="subject">
        </ngx-datatable-column>

        <ngx-datatable-column name="Issuer" prop="issuer">
        </ngx-datatable-column>

        <ngx-datatable-column name="Valid from" prop="validFrom">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: dateFormat}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Valid until" prop="validUntil">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: dateFormat}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <table class="buttonsRow">
        <tr>
          <td>
            <button md-raised-button color="primary" (click)="openEditTrustStore()" id="uploadbutton_id">
              <md-icon>file_upload</md-icon>
              <span>Upload</span>
            </button>
          </td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>
