<page-header id="loggingheader_id">Logging</page-header>
<div class="selectionCriteria">
  <md-card>
    <md-card-content>

      <div class="panel">
        <form name="filterForm" #filterForm="ngForm" (ngSubmit)="search()">

          <md-input-container>
            <input mdInput placeholder="Package or class name" name="packageClassName"
                   [(ngModel)]="filter.errorSignalMessageId" #errorSignalMessageId="ngModel" id="signalmessageid_id"
                   width="40px">
          </md-input-container>

          <div class="searchArea">
            <button md-raised-button color="primary" [disabled]="!filterForm.form.valid" id="searchbutton_id">
              <md-icon>search</md-icon>
              <span>Search</span>
            </button>
          </div>
        </form>
      </div>

    </md-card-content>
  </md-card>
</div>

<div class="panel">
  <div class="group-filter-button">
    <span class="row-button">
      <app-row-limiter [pageSizes]="rowLimiter.pageSizes"
                       (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
    </span>
    <span class="column-filter-button">
      <app-column-picker [allColumns]="columnPicker.allColumns" [selectedColumns]="columnPicker.selectedColumns"
                         (onSelectedColumnsChanged)="columnPicker.changeSelectedColumns($event)"></app-column-picker>
    </span>
  </div>


  <ngx-datatable
    id="loggingTable"
    class="material striped"
    [rows]="rows"
    [columnMode]="'force'"
    [columns]="columnPicker.selectedColumns"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [externalPaging]="true"
    [externalSorting]="true"
    [loadingIndicator]="loading"
    [count]="count"
    [offset]="offset"
    [limit]="rowLimiter.pageSize"
    [sorts]="[{prop: 'timestamp', dir: 'desc'}]"
    (page)='onPage($event)'
    (sort)="onSort($event)"
    (activate)="onActivate($event)"
    (select)="onSelect($event)">
</ngx-datatable>

  <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value | domibusDate: dateFormat}}</span>
  </ng-template>
</div>
