#custom-file-upload {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #2196f3;
}

.custom-file-upload-inner {
  color: white;
  cursor: pointer;
  background-color: #2196f3;
}
