<h2 md-dialog-title>Party</h2>

<md-dialog-content style="width:75vw;height:75vh;padding-top:25px;">
  <form name="filterForm">
    <div>
      <md-card>
        <md-card-content>
          <div class="panel">
            <md-input-container style="width:100%">
              <input mdInput placeholder="Name" name="name" id="name_id" [(ngModel)]="party.name">
            </md-input-container>
            <md-input-container style="width:100%">
              <input mdInput placeholder="End point" name="endPoint" id="endPoint_id" [(ngModel)]="party.endpoint">
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div>
      <md-card>
        <md-card-header>
          <md-card-title>Certificate</md-card-title>
        </md-card-header>
        <md-card-content>
          <div class="panel">
            <md-input-container style="width:100%">
              <input mdInput placeholder="Subject name" name="subjectName" id="subjectName_id">
            </md-input-container>
            <md-input-container style="width:40%">
              <input mdInput placeholder="Valid from" name="validityFrom" id="validityFrom_id">
            </md-input-container>
            <md-input-container style="width:40%">
              <input mdInput placeholder="Valid to" name="validityTo" id="validityTo_id">
            </md-input-container>
            <md-input-container style="width:100%">
              <input mdInput placeholder="Issuer" name="issuer" id="issuer_id">
            </md-input-container>
          <!--  <md-input-container style="width:100%">
              <input mdInput placeholder="Issuer" name="issuer" id=issuer_id">
            </md-input-container>-->
            <md-input-container style="width:100%">
              <input mdInput placeholder="Finger prints" name="fingerPrint" id="fingerPrint_id">
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div>
      <md-card>
        <md-card-header>
          <md-card-title>Identifiers</md-card-title>
        </md-card-header>
        <md-card-content>
          <div class="panel">
            <ngx-datatable
              id="identifierTable"
              class="material striped"
              [rows]="identifiers"
              [selected]="selectedIdentifiers"
              [selectionType]="'single'"
              [columnMode]="'force'"
              [columns]="identifiersRowColumnPicker.selectedColumns"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [externalPaging]="false"
              [externalSorting]="false"
              [count]="identifiers.length"
            >
            </ngx-datatable>

            <div>
              <button md-raised-button (click)="addIdentifier()" color="primary">
                <md-icon>add</md-icon>
                <span>New</span>
              </button>
              <button md-raised-button (click)="editIdentifier()" color="primary" [disabled]="selectedIdentifiers.length==0">
                <md-icon>edit</md-icon>
                <span>Edit</span>
              </button>
              <button md-raised-button (click)="removeIdentifier()" color="primary" [disabled]="selectedIdentifiers.length==0">
                <md-icon>delete</md-icon>
                <span>Delete</span>
              </button>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div>
      <md-card>
        <md-card-header>
          <md-card-title>Processes</md-card-title>
        </md-card-header>
        <md-card-content>
          <div class="panel">
            <ngx-datatable
              id="processTable"
              class="material striped"
              [rows]="processesRows"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [scrollbarV]="false"
              [scrollbarH]="false"
              [externalPaging]="false"
              [externalSorting]="false"
              [count]="processesRows.length"
            >
              <ngx-datatable-column name="Process" prop="name"></ngx-datatable-column>

              <ngx-datatable-column >
                <ng-template ngx-datatable-header-template>
                  Initiator
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <input type="checkbox" [(ngModel)]="row.isInitiator" [ngModelOptions]="{standalone: true}"/>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column >
                <ng-template ngx-datatable-header-template>
                  Responder
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <input type="checkbox" [(ngModel)]="row.isResponder" [ngModelOptions]="{standalone: true}"/>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

          </div>
        </md-card-content>
      </md-card>
    </div>


    <button md-raised-button (click)="ok()" color="primary">
      <span>OK</span>
    </button>
    <button md-raised-button (click)="cancel()" color="primary">
      <span>Cancel</span>
    </button>
  </form>
</md-dialog-content>

