.justified {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.rowsDiv {
  margin-top:30px;
}

.selectionCriteria {
  margin-top:5px;
}

.inputField {
  width:350px;
}

.pluginRow {
  width: 100%;
}

.buttonsRow {
  width: 100%;
}

.tableArea {
  width: 100%;
  height: 80%;
}

.dateTimeTitle {
  width:100px;
  text-align:right;
}
