<page-header id="messagefilterheader_id">Message Filter</page-header>
<div class="selectionCriteria">
  <div class="panel">
    <md-card>
      <md-card-content>
        <form name="messageFilterForm" #messageFilterForm="ngForm">
          <button md-icon-button color="primary" [disabled]="!isSaveAsCSVButtonEnabled()" (click)="saveAsCSV()"
                  id="saveascsvbutton_id" md-tooltip="Export as CSV">
            <img src="assets/images/exportCSV.svg" width="30" height="30">
          </button>
          <ngx-datatable
            #mydatatable
            class="material striped"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="rows"
            [selected]="selected"
            [selectionType]="'multi'"
            (select)='onSelect($event)'
            id="messageFilterTable">
            <ngx-datatable-column name="Plugin" prop="backendName" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span class="justified, clickable" style="word-wrap: break-word" (dblclick)="buttonEditAction(this.selected[0])" id="pluginRow{{row.$$index}}_id">
                {{value}}
              </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="From" prop="from.expression" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span class="justified, clickable" style="word-wrap: break-word" (dblclick)="buttonEditAction(this.selected[0])" id="fromRow{{row.$$index}}_id">
                {{value}}
              </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="To" prop="to.expression" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span class="justified, clickable" style="word-wrap: break-word" (dblclick)="buttonEditAction(this.selected[0])" id="toRow{{row.$$index}}_id">
                {{value}}
              </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" prop="action.expression" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span class="clickable" style="word-wrap: break-word" (dblclick)="buttonEditAction(this.selected[0])" id="actionRow{{row.$$index}}_id">
                {{value}}
              </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Service" prop="service.expression" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span class="justified, clickable" style="word-wrap: break-word" (dblclick)="buttonEditAction(this.selected[0])" id="serviceRow{{row.$$index}}_id">
                {{value}}
              </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Persisted" prop="persisted" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <input autofocus type="checkbox" [checked]="value" disabled (dblclick)="buttonEditAction(this.selected[0])" id="persistedRow{{row.$$index}}_id"/>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" prop="actions" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <button md-icon-button color="primary" type="button" [disabled]="row.$$index===0"
                        (click)="buttonMoveUpAction(row)" id="moveUpButtonRow{{row.$$index}}_id" tooltip="Move Up">
                  <md-icon>arrow_drop_up</md-icon>
                </button>
                <button md-icon-button color="primary" type="button" [disabled]="row.$$index===rows.length - 1"
                        (click)="buttonMoveDownAction(row)" id="moveDownButtonRow{{row.$$index}}_id"
                        tooltip="Move Down">
                  <md-icon>arrow_drop_down</md-icon>
                </button>
                <button md-icon-button color="primary" type="button" (click)="buttonEditAction(row)"
                        id="editButtonRow{{row.$$index}}_id" tooltip="Edit">
                  <md-icon>edit</md-icon>
                </button>
                <button md-icon-button color="primary" type="button" (click)="buttonDeleteAction(row)"
                        id="deleteButtonRow{{row.$$index}}_id" tooltip="Delete">
                  <md-icon>delete</md-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <table class="group-action-button">
            <tr>
              <td>
                <button md-raised-button color="primary" type="button" [disabled]="!enableMoveUp"
                        (click)="buttonMoveUp()" id="moveupbutton_id">
                  <md-icon>arrow_drop_up</md-icon>
                  <span>Move Up</span>
                </button>
              </td>
              <td>
                <button md-raised-button color="primary" type="button" [disabled]="!enableMoveDown"
                        (click)="buttonMoveDown()" id="movedownbutton_id">
                  <md-icon>arrow_drop_down</md-icon>
                  <span>Move Down</span>
                </button>
              </td>
            </tr>
          </table>
          <table class="group-action-button">
            <tr>
              <td>
                <button md-raised-button color="primary" type="button" [disabled]="!enableCancel"
                        (click)="cancelDialog()" id="cancelbutton_id">
                  <md-icon>cancel</md-icon>
                  <span>Cancel</span>
                </button>
                <button md-raised-button color="primary" type="button" [disabled]="!enableSave" (click)="saveDialog(false)"
                        id="savebutton_id">
                  <md-icon>save</md-icon>
                  <span>Save</span>
                </button>
                <button md-raised-button color="primary" type="button" (click)="buttonNew()" id="newbutton_id">
                  <md-icon>add</md-icon>
                  <span>New</span>
                </button>
                <button md-raised-button color="primary" type="button" [disabled]="!enableEdit"
                        (click)="buttonEditAction(this.selected[0])"
                        id="editbutton_id">
                  <md-icon>edit</md-icon>
                  <span>Edit</span>
                </button>
                <button md-raised-button color="primary" type="button" [disabled]="!enableDelete"
                        (click)="buttonDelete()" id="deletebutton_id">
                  <md-icon>delete</md-icon>
                  <span>Delete</span>
                </button>
              </td>
            </tr>
          </table>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
